<!DOCTYPE html>
<html>
<head>
  <title>Encrypt a Message</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Message encrypted!</h1>
    <h2>Here you go: <%= @secret_message %></h2>
  </div>
</body>
</html>
